.main__section-box {
  margin-bottom: 15px;
  width: 830px;
  display: block;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #e3e5e8, 0 1px 2px 0 rgba(0, 0, 0, 0.04);
}

/* 메인 영역 광고 */
.main__section-ad-box {
  height: 130px;
}

.main__section-ad-img {
  width: 830px;
  height: 130px;
  border-radius: 8px;
}

/* 메인 영역 뉴스 */
.main__section-news-box {
  height: 426px;
}

/* 공통 */
.main__section-category {
  display: flex;
  align-items: center;
  width: 830px;
  height: 58px;
  padding: 18px 20px 17px;
  box-sizing: border-box;
}

.main__section-name {
  margin: 0 13px;
  font-size: 18px;
  font-weight: bold;
  color: #838383;
  text-decoration: none;
}

.main__section-name--black {
  color: black;
}

.main__section-bar--circle {
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  border-radius: 50%;
}

.main__section-bar {
  display: block;
  width: 1px;
  height: 15px;
  background-color: #d3d5d7;
  transform: skewX(-15deg);
}
/* 공통 끝 */

/* 메인 영역 - 스포츠 */
.main__section-name--sports {
  margin-right: 5px;
}

.main__section-news-sports-box {
  display: flex;
  align-items: center;
  margin-right: 13px;
  width: 48px;
  height: 18px;
  background-color: #f4361e;
  padding: 0 5px 0 4px;
  border-radius: 9px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  box-sizing: border-box;
}

.main__section-news-sports-icon {
  background-image: url(https://pm.pstatic.net/resources/asset/sp_main.712d35ae.png);
  background-size: 442px 434px;
  background-position: -310px -288px;
  background-repeat: no-repeat;
  width: 14px;
  height: 10px;
}

/* 공통3 */
.main__section-info-box {
  display: flex;
  align-items: center;
  width: 790px;
  height: 50px;
  background-color: #f5f7f8;
  margin: 0 20px;
  padding: 12px 20px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 15px;
}

.main__section-info-bar--circle {
  margin: 0 6px;
  width: 4px;
  height: 4px;
  background-color: #d3d5d7;
  border-radius: 50%;
}
/* 공통3 끝 */

.main__section-news-info-all {
  margin-right: 5px;
}

.main__section-news-info-all-bar {
  background-color: #d3d5d7;
  width: 1px;
  height: 12px;
  margin: 0 12px;
}

.main__section-news-info-des {
  margin-right: 25px;
}

.main__section-news-info-home {
  font-weight: bold;
}

.main__section-news-brand-box {
  width: 790px;
  height: 224px;
  margin: 18px 20px 18px 20px;
}

.main__section-news-brand-list {
  display: flex;
  border-bottom: 1px solid #e3e5e8;
  width: 790px;
  /* height: 56px; */
  box-sizing: border-box;
}

.main__section-news-brand-list--last {
  border: none;
}

.main__section-news-item {
  display: flex;
  justify-content: center;
  padding: 18px 0;
  border-right: 1px solid #e3e5e8;
  width: 132px;
  height: 56px;
  box-sizing: border-box;
}

.main__section-news-item--last {
  border: none;
}

.main__section-news-img {
  width: 60px;
  height: 20px;
  object-fit: contain;
}

/* 공통2 */
.main__section-more-box {
  display: flex;
  justify-content: center;
  padding: 10px 0 11px;
  width: 830px;
  height: 58px;
  border-top: 1px solid #e3e5e8;
  box-sizing: border-box;
}

.main__section-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid #dadcdf;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  margin: 0 40px;
}

.main__section-more-btn i {
  color: #2a2c2f;
}

.main__section-more-des-box {
  border: 1px solid brown;
  display: flex;
  align-items: center;
}

.main__section-more-des {
  font-size: 13px;
  margin: 0 2px;
  font-weight: bold;
  color: #3a67ea;
}

.main__section-more-des--gray {
  color: #606060;
}
/* 공통2 끝 */

.main__section-shop-box {
  height: 560px;
}

.main__section-name--small {
  font-size: 15px;
}

.main__section-name-life {
  display: flex;
  align-items: center;
}

.main__section-info-bar--circle--small {
  margin: 0;
}

.main__section-info-bar--circle--life {
  margin: 0 1px;
  background-color: #838383;
}

.main__secition-notice-img-box {
  width: 13px;
  height: 14px;
}

.main__section-notice-img {
  width: 100%;
  height: 100%;
  background-image: url(../assets/sp_main.05384be4.png);
  background-size: 159px 137px;
  background-repeat: no-repeat;
  background-position: -131px -102px;
}

.main__secition-shop-home {
  text-decoration: none;
  color: black;
  font-weight: bold;
  margin-left: 120px;
}

.main__section-shop-list-box {
  border: 1px solid red;
  display: flex;
  margin-top: 18px;
  padding: 0 20px 1px;
  width: 830px;
  height: 376px;
  box-sizing: border-box;
}

.main__section-shop-list-left {
  border: 1px solid red;
  margin-right: 20px;
  width: 520px;
  height: 375px;
  box-sizing: border-box;
}

.main__section-shop-list-right {
  border: 1px solid blue;
  padding-left: 21px;
  width: 252.45px;
  height: 375px;
  box-sizing: border-box;
}

.main__section-shop-list-left-itme-list {
  border: 1px solid green;
  display: flex;
  width: 520px;
  height: 189px;
  box-sizing: border-box;
}

.main__section-shop-list-left-list-item {
  border: 1px solid blue;
  width: 160px;
  height: 165px;
}

.main__section-shop-left-img-box {
  position: relative;
  width: 160px;
  height: 115px;
}

.main__section-shop-left-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__section-shop-left-price {
  border: 2px solid white;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 20px;
}

.main__section-shop-left-price-plus {
  width: 37px;
  height: 20px;
}

.main__section-shop-left-price-percent {
}

.main__section-shop-left-des {
  padding-top: 10px;
  width: 160px;
  height: 48px;
  box-sizing: border-box;
}

.main__section-shop-left-des {
  font-size: 14px;
}
